.songs-carousel-buttons {
  width: auto;
  height: auto;
  position: relative;
}

.songs-carousel-container {
  width: auto;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

.songs-carousel {
  display: flex;
  justify-content: flex-start;
  width: auto;
  height: auto;
  overflow-x: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.songs-carousel > div {
  padding-left: 22px;
}

.songs-carousel > div:first-child {
  padding-left: 0;
}

.songs-carousel::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.carousel-scroll-button {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 3px;
  width: 32px;
  height: 32px;
  background-color: white;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  margin-top: 90px;
  z-index: 5;
}

.carousel-scroll-button:hover {
  border: 1px solid #CE1141;
  color: #CE1141;
}

.carousel-scroll-button-container {
  position: absolute;
  top: -9%;
  height: 100%;
  z-index: 1;
}

#carousel-left-button-container {
  left: -2%;
}

#carousel-right-button-container {
  right: -2%;
}


.song-carousel-item {
  width: 175px;
  height: auto;
  padding-bottom: 30px;
}

.song-carousel-image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.song-carousel-image {
  width: 170px;
  height: 170px;
  cursor: pointer;
}

.song-carousel-play {
  position: absolute;
  top: -110%;
  left: 35%;
  color: white;
  text-align: center;
  background-color: #CE1141;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  font-size: 20px;
  cursor: pointer;
}

.song-carousel-play:hover { 
  box-shadow: inset 0 0 0 99999px rgba(49, 47, 47, 0.2);
}

.carousel-play-button-icon {
  transform: translateX(-3%);
}

.song-carousel-overlay {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 170px;
  position: absolute;
  bottom: 1.5%;
  left: 0%;
  height: 30%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}

.song-carousel-overlay > .like-button {
  color: white;
  margin: 0 10px;
}

.song-carousel-title {
  color: #333;
  font-size: 14px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  margin-top: 10px;
  cursor: pointer;
}

.song-carousel-title:hover {
  color: black;
}

.song-carousel-user-name:hover {
  color: #333;
}

.song-carousel-user-name {
  color: #999;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
}