.current-user-profile-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: 90%;
  background-color: #e5e5e5;
  padding: 30px;
}

.profile-header {
  display: flex;
  width: 80%;
  height: 160px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: linear-gradient(#CE1141, #f4d06f)
}

.header-display-name, .header-real-name, .header-location {
  background-color: rgba(0,0,0,.8);
  line-height: 37px;
  padding: 4px 7px;
  height: 37px;
  color: #fff;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.header-display-name {
  font-size: 24px;
}