.discover-page-background {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  // min-height: 100%;
}

.discover-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
  height: calc(100% - 60px);
  background-color: white;
  flex: 1;
}

.discover-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discover-header {
  font-size: 23px;
  font-weight: 100;
  margin-top: 25px;
  margin-left: 15px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.discover-subheader {
  margin: 10px 0 20px 15px;
  font-weight: 100;
  color: #999;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 14px;
}

.songs-carousel-container {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.songs-carousel {
  display: flex;
  width: auto;
  height: auto;
  overflow-x: auto;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.songs-carousel::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
}

.carousel-scroll-button {
  border: 1px solid #999;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  background-color: white;
  font-size: 20px;
  line-height: 47px;
  text-align: center;
  cursor: pointer;
  margin-top: 90px;
}

.carousel-scroll-button-container {
  position: absolute;
  top: -10%;
  height: 100%;
  z-index: 1;
}

#carousel-left-button-container {
  left: 0;
}

#carousel-right-button-container {
  right: 0;
}