.discover-page-background {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  // min-height: 100%;
}

.discover-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 85%;
  height: calc(100% - 60px);
  background-color: white;
  flex: 1;
}

.discover-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discover-header {
  font-size: 23px;
  font-weight: 100;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.discover-subheader {
  margin: 10px 0 20px 0;
  font-weight: 100;
  color: #999;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 14px;
}