.footer {
  width: 80%;
  height: 60px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 90%;
  height: 100%;
  border-top: 0.75px solid #e5e5e5;
}