.form-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  margin: 30px;
  border-radius: 5px;
  border: thin black 2px;
  font-size: 16px;
  padding: 25px;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(231, 231, 231, 0.678);
  z-index: 1000;
}

@keyframes bringDownSlow {
  from {
    top: 10%;
  }
  to {
    top: 45%;
  }
}

.modal-child {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  animation: 0.6s bringDownSlow ease-out;
  margin-top: 30px;
}

.modal-text {
  font-weight: 100;
  color: #999;
  padding: 0;
  margin: 2px;
  font-style: normal;
  font-size: 12px;
  font-family: Lucida Grande,Helvetica,Arial,sans-serif;
  text-align: center;
}

.form-modal-input {
  width: 96%;
  height: 35px;
  padding: 5px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  margin: 10px;
  font-size: 16px;
}

.form-submit-button {
  color: white;
  font-weight: 900;
  background-color: #CE1141;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 15px;
}

.identifier-submit-button {
  color: white;
  font-weight: 900;
  background-color: #CE1141;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 5px;
}

.demo-login-button {
  color: white;
  font-weight: 900;
  background-color: #f4d06f;
  border-radius: 3px;
  width: 100%;
  height: 40px;
  padding: 5px;
  margin: 5px;
}

.form-prev-button {
  border-radius: 5px;
  height: 20px;
  width: 97%;
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ccc;
  color: #333;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.modal-subheader {
  font-size: 15px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  margin: 10px;
}

.form-header {
  font-size: 32px;
  text-align: center;
  font-style: normal;
  margin-bottom: 35px;
  font-weight: 400;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #333;
}

.form-modal-dropdown {
  width: 100%;
  height: 35px;
  padding: 5px;
  border-radius: 3px;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 18px;
  height: 40px;
  padding: 8px 5px;
  border-radius: 5px;
  color: #333;
  border: 2px solid #e5e5e5;
  margin: 10px;
}

.form-error-text {
  font-weight: 100;
  color: #CE1141;
  padding: 0;
  margin: 2px;
  font-style: normal;
  font-size: 12px;
  font-family: Lucida Grande,Helvetica,Arial,sans-serif;
  text-align: center;
}


.signed-out-form-page-background {
  background-color: #e5e5e5;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.signed-out-form-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  flex-grow: 1;
  background-color: white;
}

.signed-out-form-page > div {

}