.global-audio-player-div {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 80%;
  height: 50px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  border-top: 1px solid lightgrey;
  z-index: 9999;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.player-time {
  color: #333;
  text-align: left;
  font-size: 11px;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  margin: 0 3px;
}

.current-progress-line {
  height: 5px;
  align-self: flex-start;
  border-bottom: 1px solid #CE1141;
}

.progress-line {
  height: 5px;
  align-self: flex-start;
  border-bottom: 1px solid grey;
}

.player-song-image {
  width: 30px;
  height: 30px;
}

.player-song-info-container {
  display: flex;
  align-items: center;
}

.player-song-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

.player-song-name {
  color: #999;
  font-size: 11px;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.player-song-title {
  font-size: 11px;
  color: #666;
  font: 12px/1.4 Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

.phantom-audio-player {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #e5e5e5;
}

.phantom-audio-player > div {
  width: 80%;
  height: 100%;
  background-color: white;
}