.song-item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 240px;
  padding: 20px 0;
  box-sizing: border-box;
}

.song-item-image {
  width: 160px;
  height: 160px;
  flex: 0 0 160px;
  cursor: pointer;
}

.song-item-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 180px);
  height: 190px;
  margin: 0 15px;
}

.song-item-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 10px 35px 0 0;
}

.song-item-play {
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 45px;
  background-color: #CE1141;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  cursor: pointer;
}

.song-item-play:hover { 
  box-shadow: inset 0 0 0 99999px rgba(49, 47, 47, 0.2);
}

.song-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.song-item-info-top-line, .song-item-info-bottom-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}

.song-item-display-name {
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

.song-time-elapsed {
  width: 110px;
  text-align: right;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  color: #999;
  font-size: 12px;
  font-weight: 100;
}

.song-item-title {
  width: auto;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-size: 15px;
  color: #333;
  cursor: pointer;
}

.song-item-display-name:hover, .song-item-title:hover {
  color: black;
}

.song-item-genre {
  height: 15px;
  padding: 1px 5px;
  background: #999;
  border: 1px solid #999;
  border-left-width: 0;
  color: #fff;
  font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 20px;
  text-align: right;
}

.song-item-buttons {
  display: flex;
  align-items: center;
  height: 30px;
}

.song-item-buttons > div {
  margin-right: 5px;
}

.song-item-button {
  width: fit-content;
  height: fit-content;
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  padding: 3px 6px;
  font-size: 11.8px;
  font-weight: 100;
  text-align: center;
  vertical-align: baseline;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  cursor: pointer;
}