.song-item-waveform {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  width: 100%;
  height: 110px;
  cursor: pointer;
}

.waveform-audio {
  position: relative;
  width: 100%;
}

.waveform-progress-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1;
}

.waveform-progress {
  overflow: hidden;
}

.waveform-progress-img, .waveform-progress-playing-img {
  height: 110px;
}
    
.waveform-progress-playing {
  overflow: hidden;
}

.waveform-default {
  width: 100%;
  height: 110px;
}

// .waveform-progress-img {
//   object-fit: cover;
// }

.waveform-time {
  position: absolute;
  bottom: 35%;
  display: flex;
  justify-content: space-between;
  font: 10px Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
  width: 100%;
  z-index: 5;
  border-bottom: 1px solid white;
  pointer-events: none;
}

.waveform-time > div:first-child {
  color: #CE1141;
}

.waveform-time-text {
  background-color: black;
  color: white;
}

